*:focus{
  outline: none;
}
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

header {
  background-color: #3E2A35;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  font-size: 35px;
  font-weight: 800;
  margin: 20px;
}

.logo-svg {
  height: 35px  ;
}

.search {
  margin: 20px;
  height: 20px;
  border: 2px solid #c2b2b4;
  border-radius: 5px;
  font-size: 20px;
}

.user-inputs {
  background-color: #3E2A35;
  color: #c2b2b4;
}

.user-inputs-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 14px;
  margin: auto;
  padding-bottom: 20px;
}

label,
input,
textarea {
  height: 20px;
  padding: 10px;
}

#foto-upload-input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#foto-upload-label {
  height: 20px;
}

.add-filter-btns,
#foto-upload-label{
  background-color: #5B4447;
  border: 0;
  margin: 20px 0px 20px 0px;
  color: #FFF;
}

.add-filter-btns {
  height: 35px;
  width: 45%;
}

.add-filter-btns-div {
  display: flex;
  justify-content: space-between;
}

.add-btn:disabled {
  background-color: #c2b2b4;
}

article {
 /* height: 300px;*/
  width: 200px;
  border: 2px solid #938284;
  margin: 20px;
}

h2,
p {
  color: #3E2A35;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  word-break: break-all;
}

p {
  height: 100px;
}

h2:focus,
p:focus {
  /*color: ;*/
  border: 2px solid #938284;
}

.foto{
  /*padding: 50px 100px;*/
  height: 100px;
  width: 200px;
  object-fit: cover;
}



footer {
  align-items: center;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
  background-color: #5B4447;
}

.delete-btn {
  background-image: url(images/delete.svg);

}

.favorite-btn {
  background-image: url(images/favorite.svg);
}

.delete-btn:hover {
  background-image: url(images/delete-active.svg);
}

.favorite-btn:hover {
  background-image: url(images/favorite-active.svg);
}
/*
.favorite-btn:focus {
  outline: none;
}*/

.favorite{
  background-image: url(images/favorite-active.svg);
}

.delete-btn,
.favorite-btn{
  background-repeat: no-repeat;
  height: 30px;
  width: 35px;
  background-size: 30px;
  border: 0;
  background-color: #5B4447;
  margin: 10px 5px;
}

.foto-card-section {
  display: flex;
  flex-wrap: wrap;
}







