*:focus{
  outline: none;
}
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #c2b2b4;
}

header {
  background-color: #3E2A35;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  font-size: 35px;
  font-weight: 800;
  margin: 20px;
}

.input-label {
  padding: 15px 0px 5px 0px;
}

input,
textarea {
  height: 20px;
  padding: 10px;
  font-size: 16px;
  color: #3E2A35;
}

.logo-svg {
  height: 35px;
}

.search-div {
  display: flex;

}

.search-input {
  margin: 20px 0px;
  height: 20px;
  border: 2px solid #c2b2b4;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
}

.search-icon-div {
  height: 44px;
  width: 44px;
  background-color: #c2b2b4;
  border-radius: 0px 5px 5px 0px;
  margin: 20px 20px 20px 0px;
}

.search-icon {
  padding: 4px;
  height: 35px;
  width: 35px;
}

.user-inputs {
  background-color: #3E2A35;
  color: #c2b2b4;
}

.user-inputs-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 14px;
  margin: auto;
  padding-bottom: 20px;
}


#foto-upload-input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#foto-upload-label {
  height: 20px;
  padding: 10px;
  text-align: center;
}

.add-filter-btns,
#foto-upload-label,
.show-more-btn {
  background-color: #5B4447;
  border: 0;
  margin: 30px 0px 0px 0px;
  color: #FFF;
  font-size: 15px;
}

.add-filter-btns {
  height: 35px;
  width: 45%;
}

.add-filter-btns-div {
  display: flex;
  justify-content: space-between;
}

.add-btn:disabled,
.show-more-btn:disabled {
  background-color: #c2b2b4;
  border: 2px solid #938284;
}

.no-photo-text {
  color: #5b4447;
  text-align: center;
  width: 100%;
  font-size: 30px;
  word-break: normal;
}

.show-more-section {
  display: flex;
  justify-content: center;
  background-color: #c2b2b4;
}

.show-more-btn {
  margin: 30px 0px;
  height: 45px;
  width: 500px;
  border: 2px solid #c2b2b4;
}

article {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 352px;
  border: 2px solid #938284;
  margin: auto;
}

h2 {
  height: 20px;
  width: 180px;
  text-overflow: ellipsis;
}

h2,
p {
  color: #3E2A35;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

p {
  height: 80px;
  overflow: scroll;
  word-break: break-word;
}

h2:focus,
p:focus {
  border: 2px solid #938284;
}

h2:focus {
  height: 38px;
}

.foto{
  height: 140px;
  object-fit: cover;
}

footer {
  align-items: center;
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
  background-color: #5B4447;
}

.delete-btn {
  background-image: url(images/delete.svg);

}

.favorite-btn {
  background-image: url(images/favorite.svg);
}

.delete-btn:hover {
  background-image: url(images/delete-active.svg);
}

.favorite-btn:hover {
  background-image: url(images/favorite-active.svg);
}

.favorite{
  background-image: url(images/favorite-active.svg);
}

.delete-btn,
.favorite-btn{
  background-repeat: no-repeat;
  height: 30px;
  width: 35px;
  background-size: 30px;
  border: 0;
  background-color: #5B4447;
  margin: 10px 5px;
}

.foto-card-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

p::-webkit-scrollbar {
    width: .5em;
}

p::-webkit-scrollbar-thumb {
  background-color: #938284;
}


@media only screen and (max-width: 1530px) {
.foto-card-section {
  grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1280px) {
.foto-card-section {
  grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 945px) {
.foto-card-section {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 620px) {
  .foto-card-section {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
  }

  .logo-div {
    width: 92%;
    margin: auto;
  }

  h1 {
    font-size: 11vw;
  }

  .logo-svg {
    height: 10vw;
  }

  .search-div {
    margin: auto;
  }

  .search-input {
    width: 433px;
  }

  .search-icon-div {
    margin-right: 0px;
  }

}

@media only screen and (max-width: 549px){
  .search-div,
  .user-inputs-form,
  .show-more-btn {
    width: 92%;
  }
}


